
/* 公共样式  common style */
.container {
    max-width: 1200px;
    margin: 0 auto;
    /* 水平居中 */
}

/* 弹性布局 */
.flexbox {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

/* 标题文本 */
.column-title{
    margin: 40px 0;
}

/* 副标题  */
.column-title h3{
    padding-left: 10px;
    border-left: 8px solid #b83c3c;
    text-align: left;
}

/* 区域文本默认设置 */
.column-text p{
    text-indent: 2em;
    line-height: 30px;
}

/* 区域图片默认修改  */
.column-img{
    overflow: hidden;
}

.column-img img{
    vertical-align: top;
}


/*服饰展示*/
.role-card-wrapper{
    margin-bottom: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.role-card{
    width: 31%;
}

.role-img{
    height: 372px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.137);
    box-sizing: border-box;
}

.role-img img{
    height: 100%;
}

.role-text{
    padding: 20px;
}

.role-text h3{
    color: #b83c3c;
    padding-bottom: 10px;
}

.role-card-wrapper2{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.137);
    box-sizing: border-box;
}

.role-card-wrapper2{
    align-items: center;
    margin-bottom: 40px;
}


.role-card-wrapper2 .role-img2{
    width: 25%;
}

.role-img2 img{
    width: 100%;
}

.role-card-wrapper2 .role-text{
    flex: 1;
}

.z1{
	width: 350px;
	
}
